<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Inicio
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  Bienvenido.
  <div *ngIf="store">
  	<ion-card>
  	  <ion-card-header>
  	    {{storeName}}
  	  </ion-card-header>  	
  	</ion-card>
  	<ion-list>  		
  		<div class="card" *ngFor="let item of items">
  		  <div class="item item-text-wrap">
  		   <ion-checkbox></ion-checkbox> {{item.name}} $ {{item.price}}<
  		  </div>
  		</div>  			 			
  		
  	</ion-list>
  </div>  
  <button ion-button icon-right class="button" (click)="readQR()">
    Leer QR
    <ion-icon name="camera"></ion-icon>
  </button>

</ion-content>
